@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

:root {
  --primary: #101010;
  --secondary: #fff;
  --tertiary: hotpink;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #fafafa;
}

/* --------------------------NAVBAR----------------------------- */
.logo{
    width: 9.4rem;
    height: 2.5rem;
    margin-left: 10px;
    margin-top: 10px;
}

/* ------------------------MENU LINKS----------------------------- */
nav a.nav-link{
    color: var(--tertiary);
    font-size: .9rem;
    font-weight: 200;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar-nav > li > a{
    color: var(--tertiary) !important;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.navbar-brand{
max-width: 17.25rem;
padding: 0 !important;
height: 4rem !important;
}
